html,
body {
    font-family: 'Segoe UI';
    text-transform: uppercase;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
#scene {
    width: 400px;
    height: 400px;
    background-color: #aaf;
    overflow: hidden;
    margin: 16px auto;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1), -2px 2px 4px rgba(0, 0, 0, .1);
}

#car {
    position: absolute;
    display: block;
    width: 200px;
    bottom: 0px;
    left: 100px;
}
.slide {
    position: absolute;
    display: block;
    /* width: 200px;
    bottom: 0px;
    left: 100px; */
}

#ground {
    position: absolute;
    display: block;
    /* width: 400px; */
    bottom: 0;
}

#boom {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: auto;
    transition: top .5s ease;
}

#countdown {
    position: absolute;
    top: 120px;
    left: 120px;
    width: 160px;
    height: auto;
    transition: top .5s ease;
}

.coin {
    position: absolute;
    top: 225px;
    left: 120px;
    width: 64px;
    height: auto;
    transition: top .5s ease;
}

.heart {
    position: absolute;
    width: 24px;
    height: auto;
    transition: top .5s ease;
}

#scoreboard {
    width: 400px;
    margin: 4px auto;
    padding: 0;
    background-color: #eaeaea;
}

#scoreboard:after {
    clear: both;
    display: block;
    content: " ";
}

#scoreboard li {
    list-style: none;
    box-sizing: border-box;
    width: 33%;
    padding: 4px;
    text-align: center;
    float: left;
}

span {
    font-weight: bold;
    color: #55f;
}